html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
#timer {
  width: 100%;
  height: 100%;
  line-height: 100%;
  background: #000;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-family: century gothic;
  position: relative; 
  z-index: 1; /* 確保文字在火箭後面或不被遮擋 */
}

/* --- 火箭樣式設定 --- */
#rocket {
  position: absolute;
  bottom: 0px;        /* 停在畫面底部 */
  left: 50%;          /* 水平置中 */
  transform: translateX(-50%);
  width: 150px;       /* 火箭大小 */
  height: auto;
  z-index: 5;
  transition: transform 0.1s;
}

/* 預設隱藏火焰 */
.flame, .flame-inner {
  display: none;
}

/* --- 發射動畫 --- */
@keyframes launch-up {
  0% { bottom: 0; transform: translateX(-50%) scale(1); }
  5% { bottom: -10px; transform: translateX(-50%) scale(0.95); } /* 蓄力下壓 */
  100% { bottom: 150%; transform: translateX(-50%) scale(1); }   /* 飛出畫面 */
}

@keyframes flame-flicker {
  0% { opacity: 1; transform: scale(1); }
  50% { opacity: 0.8; transform: scale(1.1); }
  100% { opacity: 1; transform: scale(1); }
}

/* 啟動發射時的 class */
#rocket.launching {
  animation: launch-up 4s cubic-bezier(0.6, 0.04, 0.98, 0.335) forwards;
}

/* 發射時顯示火焰並閃爍 */
#rocket.launching .flame,
#rocket.launching .flame-inner {
  display: block;
  transform-origin: center top;
  animation: flame-flicker 0.1s infinite;
}

/* 按鈕樣式 (不變) */
#hide,
#toggle,
#reset,
#min10,
#min60,
#add10,
#add60,
#def10,
#def30,
#def60,
#def180,
#def300,
#def600,
#def900,
#def1800 {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -210px;
  width: 170px;
  height: 44px;
  line-height: 30px;
  z-index: 10;
}
#reset {
  margin-left: 50px;
}
#hide {
  margin-left: -30px;
  width: 70px;
}
#min10,
#min60,
#add10,
#add60 {
  width: 50px;
}
#def10,
#def30,
#def60,
#def180,
#def300,
#def600,
#def900,
#def1800 {
  bottom: 5px;
  top: auto;
  width: 70px;
}
#min10 {
  margin-left: -270px;
}
#min60 {
  margin-left: -330px;
}
#add10 {
  margin-left: 230px;
}
#add60 {
  margin-left: 290px;
}
#def10 {
  margin-left: -285px;
}
#def30 {
  margin-left: -205px;
}
#def60 {
  margin-left: -125px;
}
#def180 {
  margin-left: -45px;
}
#def300 {
  margin-left: 35px;
}
#def600 {
  margin-left: 115px;
}
#def900 {
  margin-left: 195px;
}
#def1800 {
  margin-left: 275px;
}
#audio {
  position: absolute;
  bottom: 30px;
  right: 10px;
  z-index: 10;
}
#xxx {
  position: absolute;
  top: 10px;
  left: 10px;
}
